name: "Terraform Cloud Deploy"

on:
  push:
    branches:
      - main
  workflow_dispatch: # Esto mantiene también el botón manual por si acaso

jobs:
  terraform_plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
      # Variables de Terraform inyectadas vía variables de entorno
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_amadeus_client_id: ${{ secrets.AMADEUS_CLIENT_ID }}
      TF_VAR_amadeus_client_secret: ${{ secrets.AMADEUS_CLIENT_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: cd infra && terraform init

      - name: Terraform Plan
        run: |
          cd infra && terraform plan 

  terraform_apply:
    name: "Terraform Apply"
    needs: terraform_plan # Solo se intenta si el plan sale bien
    runs-on: ubuntu-latest

    environment: production # Esto activa la protección de "Required Reviewers" que configuraste
    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
      TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_amadeus_client_id: ${{ secrets.AMADEUS_CLIENT_ID }}
      TF_VAR_amadeus_client_secret: ${{ secrets.AMADEUS_CLIENT_SECRET }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: cd infra && terraform init

      - name: Terraform Apply
        run: |
          cd infra && terraform apply -auto-approve 